@import models.Item
@import org.pac4j.play.scala.Pac4jScalaTemplateHelper
@import org.pac4j.core.profile.CommonProfile

@(item : Item)(implicit pac4jScalaTemplateHelper: Pac4jScalaTemplateHelper[CommonProfile])


@layout(item.name){
    <header style="position: relative; left: 0; top: 0; width: 100%; background-color: #92d13d;">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <a class="navbar-brand" href="/">Review App - Play</a>
                    @if(pac4jScalaTemplateHelper.getCurrentProfile.isDefined) {
                        @if(pac4jScalaTemplateHelper.getCurrentProfile.get.getRoles.contains("ROLE_ADMIN")) {
                            <span><a class="navbar-brand" href="/admin">Admin</a></span>
                        }
                        <a href="/logout?url=/?forcepostlogouturl">Local logout</a>
                        <a href="/centralLogout?url=http://localhost:9000/?forcepostlogouturlafteridp">
                            Central logout</a>
                    }else{
                        <span><a class="navbar-brand" href="/login">Přihlásit/Registrovat</a></span>
                    }

                </div>
                @if(pac4jScalaTemplateHelper.getCurrentProfile.isDefined) {
                    <p  class="navbar-text"  style="margin-right: 10px;">Signed in as <span>@pac4jScalaTemplateHelper.getCurrentProfile.get.getUsername</span></p>
                }
            </div>
        </nav>
    </header>

    <div class="row">
        <div class="col-lg-auto offset-2 align-content-center">
            <a href="@routes.ItemsController.edit(item.id)">Upravit</a>
            <h1>@item.name</h1>
            <h2>Autor: @item.author</h2>
            <p>Id: @item.id</p>
            <p>Typ: @item.typeFormat</p>
            <p>Žánr: @item.genre</p>
            <p>Rok vydání: @item.year</p>
            <p>Popis:  @item.textShort</p>
            <div style="max-width: 1000px; position: relative; word-break: break-all;"><span>@item.textLong</span></div>
            <a href="@routes.ReviewController.adminIndex(item.id)">Recenze</a>

        </div>
    </div>



}