@import models.Item
@import play.data.Form
@import helper._
@(itemForm : Form[Item])

@layout("Upravit položku"){
    <div class="row" style="padding-bottom: 10%;">
        <div class="col-lg-auto offset-2 align-content-center" >
            <h1>Úprava položky </h1><a href="#">Zpět na detail</a>

            @helper.form(action = routes.ItemsController.update()){
                @helper.CSRF.formField
                @helper.inputText(itemForm("id"))
                @helper.inputText(itemForm("Název"))
                @helper.inputText(itemForm("Autor"))
                @helper.inputText(itemForm("Typ"))
                @helper.inputText(itemForm("Rok"))
                @helper.inputText(itemForm("Žánr"))
                @helper.inputText(itemForm("Popisek"))
                @helper.textarea(itemForm("Text"))

                <input type="submit" value="Upravit">
                }
        </div>
    </div >
}