@import models.Review
@import play.data.Form
@import helper._
@import org.pac4j.play.scala.Pac4jScalaTemplateHelper
@import org.pac4j.core.profile.CommonProfile

@(reviewForm : Form[Review])(id: Long)(itemId: Long)(implicit pac4jScalaTemplateHelper: Pac4jScalaTemplateHelper[CommonProfile])


@layout("Upravit položku"){
    <header style="position: relative; left: 0; top: 0; width: 100%; background-color: #5a6268;">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <a class="navbar-brand" href="/">Review App</a>
                    <span><a class="navbar-brand" href="/admin">Admin</a></span>
                    <span><a class="navbar-brand" href="#">Přihlásit</a></span>
                    <span><a class="navbar-brand" href="#">Registrovat</a></span>
                    <span><a class="navbar-brand" href="/logout">Odhlásit</a></span>
                    <a href="/logout?url=/?forcepostlogouturl">Local logout</a>
                    <a href="/centralLogout?url=http://localhost:9000/?forcepostlogouturlafteridp">Central logout</a>
                </div>
                @if(pac4jScalaTemplateHelper.getCurrentProfile.isDefined) {
                    <p  class="navbar-text"  style="margin-right: 10px;">Signed in as <span>@pac4jScalaTemplateHelper.getCurrentProfile.get.getUsername</span></p>
                }
            </div>
        </nav>
    </header>
    <div class="row" style="padding-bottom: 10%;">
        <div class="col-lg-auto offset-2 align-content-center" >
            <h1>Úprava recenze </h1><a href="@routes.ReviewController.index(itemId)">Zpět na recenze</a>

            @helper.form(action = routes.ReviewController.update(itemId,id)){
                @helper.CSRF.formField

                @helper.inputText(reviewForm("textShort"))
                @helper.textarea(reviewForm("textLong"))

                <input type="submit" value="Upravit">
                }
        </div>
    </div >
}