@import org.pac4j.play.scala.Pac4jScalaTemplateHelper
@import org.pac4j.core.profile.CommonProfile

@(reviews: List[models.Review])(itemId: Long)(implicit pac4jScalaTemplateHelper: Pac4jScalaTemplateHelper[CommonProfile])

@layout("Všechny položky"){
    <header style="position: relative; left: 0; top: 0; width: 100%; background-color: #5a6268;">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <a class="navbar-brand" href="/">Review App</a>
                    <span><a class="navbar-brand" href="/admin">Admin</a></span>
                    <span><a class="navbar-brand" href="#">Přihlásit</a></span>
                    <span><a class="navbar-brand" href="#">Registrovat</a></span>
                    <span><a class="navbar-brand" href="/logout">Odhlásit</a></span>
                    <a href="/logout?url=/?forcepostlogouturl">Local logout</a>
                    <a href="/centralLogout?url=http://localhost:9000/?forcepostlogouturlafteridp">Central logout</a>
                </div>
                @if(pac4jScalaTemplateHelper.getCurrentProfile.isDefined) {
                    <p  class="navbar-text"  style="margin-right: 10px;">Signed in as <span>@pac4jScalaTemplateHelper.getCurrentProfile.get.getUsername</span></p>
                }
            </div>
        </nav>
    </header>

    <div style="position: relative">
        <div class="row">
            <div class="col-lg-auto offset-2 align-content-center">
                <h1>Recenze</h1>
                <a href="@routes.ItemsController.detail(itemId)">Zpět</a>
                <a href="@routes.ReviewController.create(itemId)">Vytvořit recenzi</a>
                    @for(review <- reviews){
                        <h3>@review.textShort</h3>
                        <p>@review.personEmail</p>
                        <p>@review.textLong</p>

                            <a href="@routes.ReviewController.edit(itemId, review.id)">Upravit recenzi</a>

                    }

            </div>
        </div>
    </div>

}